:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  
  mat-form-field {
    width: 100%;
    margin-top: 16px;
  }
  
  input {
    font-size: 16px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    mat-card {
      margin: 20px;
      width: auto;
    }
  
    mat-form-field {
      margin-top: 8px;
    }
  }
  
  